/* Demo */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#bababa, #e0e0e0);
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-content .caption {
  font-family: system-ui, serif;
  text-shadow: 0 0 10px #656565;
  font-weight: 100;
  animation: flicker 3s ease-out infinite;
  color: #828282;
}
.app-content .caption .dots {
  display: inline-block;
  width: 35px;
}
.app-content .caption .dots:before {
  content: "";
  display: inline-block;
  animation: dots 3s linear infinite;
}

/* Animation */
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes flicker {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes dots {
  0% {
    content: ".";
  }
  25% {
    content: "..";
  }
  50% {
    content: "...";
  }
  75% {
    content: "..";
  }
  100% {
    content: ".";
  }
}
/* Variables */
/* Loading Icon */
.loading {
  width: 100px;
  height: 100px;
}
.loading__ring {
  position: absolute;
  width: 100px;
  height: 100px;
}
.loading__ring:first-child {
  transform: skew(30deg, 20deg);
}
.loading__ring:last-child {
  transform: skew(-30deg, -20deg) scale(-1, 1);
}
.loading__ring:last-child svg {
  animation-delay: -0.5s;
}
.loading__ring svg {
  animation: rotate 1s linear infinite;
  fill: rgba(0, 0, 0, 0.2);
}